body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 170px;
}

html {
  position: relative;
  min-height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-navbar {
  background-color: black;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-item {
  color: white !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rating-checkbox {
  display: flex;
  align-items: center;
}

.rating-checkbox .form-check-input {
  margin-right: 7px;
}

.btn-reset {
  width: 130px;
}

.thumbnail-container {
  max-width: 100%;
  scroll-behavior: smooth;
}
.thumbnail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.thumbnail-image:hover {
  border-color: #0d6efd !important;
}

.form-control:focus,
.form-select:focus {
  border-color: gray;
  box-shadow: 0 0 0 2px rgb(221, 220, 220);
  outline: none;
}
.nav-link {
  color: rgb(104, 102, 102);
}

.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}
.rating-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.rating-radio {
  display: flex;
  align-items: center;
}

.rating-radio small {
  margin-left: 5px;
}

.rating-radio .form-check-input {
  margin-right: 5px;
}

.form-check-label {
  cursor: pointer;
}

.product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.custom-img-size {
  height: 250px;
}
